In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
data=pd.read_csv("country_vaccination_stats.csv")

In [27]:
y=[]
grouped=data.groupby("country").sum()
i=0
#Filling data according to country column and make subsets a list to concat after.
for i in range(len(grouped.index)):
    x=data[data["country"]==grouped.index[i]].fillna(data[data["country"]==grouped.index[i]]["daily_vaccinations"].min())
    y.append(x)

In [28]:
#Concatanate the list to a single df again
data_filled = pd.concat(y)

In [29]:
#Fill the missing values with 0 if there is any left. In this case there was just 1 value
data_filled=data_filled.fillna(0)

In [35]:
data_filled.query("date=='1/6/2021'")["daily_vaccinations"]

8         8173.0
29        3368.0
62        1594.0
86         736.0
121        472.0
164      14887.0
197        272.0
239     455357.0
267        763.0
287       1334.0
307        534.0
334       2439.0
364       8525.0
403      98984.0
431        589.0
457        839.0
479       8500.0
509      42015.0
552       2680.0
581       3959.0
607         63.0
658       1624.0
700     114634.0
730      45417.0
760        338.0
792        592.0
819         62.0
847        304.0
879       4027.0
899       4000.0
940       3954.0
969       1772.0
997       1280.0
1031     17723.0
1060      4416.0
1088      7555.0
1130     39532.0
1138     14153.0
1174      4858.0
1240      3309.0
1259      2110.0
1280     45248.0
1310      5165.0
1336      3000.0
1366     30698.0
1403    111155.0
1439    358887.0
1483      3359.0
Name: daily_vaccinations, dtype: float64

In [38]:
data_filled

data.to_sql("data.sql",)

TypeError: to_sql() missing 1 required positional argument: 'con'